.title {
    margin-top: 20px;
    text-align: center;
}

.dashboard {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    width: 1200px;
}

.protocol-image {
    cursor: pointer;
}